In [36]:
# from bokeh.plotting import figure, output_file, show
import gzip
import io
import pandas as pd
import urllib.request

%matplotlib inline

import matplotlib # plotting
import matplotlib.pyplot as plt

import sqlite3

%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [37]:
# unmodified python
x = 'HELLO'
x.lower()

'hello'

In [38]:
# print first two letters
x[0:2]

'HE'

In [39]:
# pandas is very good at handling rows and columns
ramphs = pd.read_csv("http://sebastianheath.com/roman-amphitheaters/roman-amphitheaters.csv")
chronogrps = pd.read_csv("http://sebastianheath.com/roman-amphitheaters/chronogrps.csv")

In [40]:
# print the first two rows of ramphs
ramphs[0:2] # this is just like string indexing

,id,title,label,pleiades,welch,golvin,type,capacity,modcountry,province,...,chronogrp,certainty,youtube,extmajor,extminor,arenamajor,arenaminor,latitude,longitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,1000.0,Syria,syria,...,severan,NaN,NaN,50.0,44.0,31.0,25.0,34.749855,40.728926,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,20000.0,France,narbonensis,...,flavian,NaN,https://www.youtube.com/watch?v=oCz-76hb1LU,136.0,107.0,47.0,32.0,43.677778,4.631111,21

In [41]:
# print the first two rows as lower case
ramphs.modcountry.str.lower()[0:2]

0     syria
1    france
Name: modcountry, dtype: object

In [42]:
# but note we haven't changed the column itself
ramphs.modcountry[0:2]

0     Syria
1    France
Name: modcountry, dtype: object

In [43]:


# Now into sqlite
# create the database
ramphs_sql = sqlite3.connect(":memory:")

# ramphs_sql is a python variable that gives access to the sqlite database

In [44]:
# add ramphs and chronogrps tables to the sqlite database
ramphs.to_sql('ramphs',ramphs_sql,if_exists = "replace")
chronogrps.to_sql('chronogrps',ramphs_sql,if_exists = "replace")

In [45]:
# Non pandas way of accessing tables in the database
# create cur as a variable with methods that let us send queries to the sqlite database
cur = ramphs_sql.cursor()

# cur has an .execute method
cur.execute("SELECT id,modcountry FROM ramphs WHERE modcountry = 'France'")
for i in cur.fetchall():
    print(i)

# it is good practice to close a cursor when you're done with it
cur.close()
# the output is not very nicely formatted

('arlesAmphitheater', 'France')
('lyonAmphitheater', 'France')
('parisAmphitheater', 'France')
('nimesAmphitheater', 'France')
('gennesAmphitheater', 'France')
('bordeauxAmphitheater', 'France')
('cimiezAmphitheater', 'France')
('perigueuxAmphitheater', 'France')
('saintesAmphitheater', 'France')
('frejusAmphitheater', 'France')
('toulouseAmphitheater', 'France')
('lillebonnAmphitheater', 'France')
('besanconAmphitheater', 'France')
('limogesAmphitheater', 'France')
('poitiersAmphitheater', 'France')
('reimsAmphitheater', 'France')
('rodezAmphitheater', 'France')
('beziersAmphitheater', 'France')
('agenAmphitheater', 'France')
('narbonneAmphitheater', 'France')
('amiensAmphitheater', 'France')
('meauxAmphitheater', 'France')
('chartresAmphitheater', 'France')
('senlisAmphitheater', 'France')
('toursAmphitheater', 'France')
('autunAmphitheater', 'France')
('stMarcelAmphitheater', 'France')
('metzAmphitheater', 'France')
('grandHalfAmphitheater', 'France')
('bourgesAmphitheater', 'France')
('chassenonAmphitheater', 'France')
('drevantAmphitheater', 'France')
('montbouyGalloRomanAmphitheater', 'France')
('aquaeNeriAmphitheater', 'France')
('aleriaAmphitheater', 'France')

In [46]:
# it's simpler with pandas
pd.read_sql_query("SELECT id,modcountry FROM ramphs WHERE modcountry = 'France'", ramphs_sql)
# a single line produces useful result

                                id modcountry
0                arlesAmphitheater     France
1                 lyonAmphitheater     France
2                parisAmphitheater     France
3                nimesAmphitheater     France
4               gennesAmphitheater     France
5             bordeauxAmphitheater     France
6               cimiezAmphitheater     France
7            perigueuxAmphitheater     France
8              saintesAmphitheater     France
9               frejusAmphitheater     France
10            toulouseAmphitheater     France
11           lillebonnAmphitheater     France
12            besanconAmphitheater     France
13             limogesAmphitheater     France
14            poitiersAmphitheater     France
15               reimsAmphitheater     France
16               rodezAmphitheater     France
17             beziersAmphitheater     France
18                agenAmphitheater     France
19            narbonneAmphitheater     France
20              amiensAmphitheater     France
21               meauxAmphitheater     France
22            chartresAmphitheater     France
23              senlisAmphitheater     France
24               toursAmphitheater     France
25               autunAmphitheater     France
26            stMarcelAmphitheater     France
27                metzAmphitheater     France
28           grandHalfAmphitheater     France
29             bourgesAmphitheater     France
30           chassenonAmphitheater     France
31             drevantAmphitheater     France
32  montbouyGalloRomanAmphitheater     France
33           aquaeNeriAmphitheater     France
34              aleriaAmphitheater     France

In [47]:
# edit this to list the numeric start date of every amphitheater. 
# once you get basic query add an ORDER BY statement to sort by that date.
# note that I've '?'s in the WHERE clause. That's what you need to change.
# we did this in class so I think this will seem familiar
df = pd.read_sql_query('''SELECT ramphs.id, chronogrps.start
    FROM ramphs, chronogrps
    WHERE ramphs.chronogrp = chronogrps.chronogrp
    order by chronogrps.start
    ''',ramphs_sql)
df

                                  id  start
0                pompeiiAmphitheater    -70
1                  cumaeAmphitheater    -70
2          pozzuoliEarlyAmphitheater    -70
3                paestumAmphitheater    -70
4                 avellaAmphitheater    -70
5                ferentoAmphitheater    -70
6                sutriumAmphitheater    -70
7                telesiaAmphitheater    -70
8                antiochAmphitheater    -70
9              beneventoAmphitheater    -70
10          calviRisortaAmphitheater    -70
11       capuaRepublicanAmphitheater    -70
12               liternoAmphitheater    -70
13                  noleAmphitheater    -70
14                 teanoAmphitheater    -70
15          suessaAruncaAmphitheater    -70
16            altripaldaAmphitheater    -70
17                compsaAmphitheater    -70
18               corinthAmphitheater    -49
19               carmonaAmphitheater    -49
20                espejoAmphitheater    -49
21                meridaAmphitheater    -27
22            conimbrigaAmphitheater    -27
23              syracuseAmphitheater    -27
24               roselleAmphitheater    -27
25                luceraAmphitheater    -27
26                cimiezAmphitheater    -27
27                veronaAmphitheater    -27
28            albaFucensAmphitheater    -27
29             cherchellAmphitheater    -27
..                               ...    ...
230              chemtouAmphitheater    100
231       genzanoPrivateAmphitheater    100
232            ainHedjahAmphitheater    100
233                uticaAmphitheater    100
234             tebourbaAmphitheater    100
235      hencherElKasbatAmphitheater    100
236        hencherZembraAmphitheater    100
237               botriaAmphitheater    100
238              portusOvalStructure    100
239          mesarafeltaAmphitheater    100
240         tigavaCastraAmphitheater    100
241             tusculumAmphitheater    100
242  aureliumCommodianumAmphitheater    100
243         hadrianVillaAmphitheater    117
244             gemellaeAmphitheater    117
245                toursAmphitheater    117
246               riminiAmphitheater    117
247                augstAmphitheater    150
248               tipasaAmphitheater    150
249           bullaRegiaAmphitheater    150
250          duraEuroposAmphitheater    193
251       romeAmphitheatrumCastrense    193
252        marcianopolisAmphitheater    193
253              bararusAmphitheater    193
254         castraAlbanaAmphitheater    193
255            grandHalfAmphitheater    200
256              egnaziaAmphitheater    200
257             thysdrusAmphitheater    235
258               sophiaAmphitheater    235
259          aphrodisiasAmphitheater    300

[260 rows x 2 columns]

In [48]:
# Amphitheaters in Italy during the reign of Augustus

df = pd.read_sql_query('''SELECT ramphs.id, ramphs.modcountry, chronogrps.start
    FROM ramphs, chronogrps
    WHERE ramphs.chronogrp = chronogrps.chronogrp and ramphs.modcountry = "Italy"
       AND chronogrps.start > -26 AND chronogrps.start < 15
    ORDER BY chronogrps.start
    ''',ramphs_sql)
df

                         id modcountry  start
0   roccellettaAmphitheater      Italy      1
1         milanAmphitheater      Italy      1
2  sanVittorinoAmphitheater      Italy      1
3        ordonaAmphitheater      Italy      1
4     minturnaeAmphitheater      Italy      1
5    forumNovumAmphitheater      Italy      1
6         terniAmphitheater      Italy      1
7      volterraAmphitheater      Italy      1

In [49]:
# get pleiades data
# this transfer takes a while so only execute this cell as necessary
response = urllib.request.urlopen("http://atlantides.org/downloads/pleiades/dumps/pleiades-places-latest.csv.gz")
pleiades = pd.read_csv(io.BytesIO(gzip.decompress(response.read())))

In [50]:
# you can always repeat this cell to reload the pleiades table
pleiades.to_sql('pleiades',ramphs_sql,if_exists = "replace")

In [51]:
# this was where things got whacky in class
cur = ramphs_sql.cursor()
# let's use direct access to the sqlite database to update the pleiades sqlite table
cur.execute("UPDATE pleiades SET path = 'https://pleiades.stoa.org'||path")
cur.close()

# what did we just do? Briefly...
# The '||' combines two string together. The UPDATE command of SQL can change values in all rows of a column

In [52]:
# test that it worked
pd.read_sql_query("SELECT path FROM pleiades LIMIT 5", ramphs_sql)

                                        path
0  https://pleiades.stoa.org/places/48210385
1  https://pleiades.stoa.org/places/48210386
2    https://pleiades.stoa.org/places/265876
3    https://pleiades.stoa.org/places/265877
4    https://pleiades.stoa.org/places/265878

In [53]:
# find amphitheaters in "Pleiades Roman only" sites
# now ramphs.pleiades shares values with pleiades.path
# we ran this query in class

pd.read_sql_query('''SELECT  ramphs.id, pleiades.timePeriods
          FROM ramphs, pleiades
          WHERE ramphs.pleiades = pleiades.path and pleiades.timePeriods = 'R';''', ramphs_sql)
# this is where we ended in class

                           id timePeriods
0    tigavaCastraAmphitheater           R
1     tomen-y-murAmphitheater           R
2           miciaAmphitheater           R
3      porolissumAmphitheater           R
4   sarmizegetusaAmphitheater           R
5               zagaroloLudus           R
6        bobadelaAmphitheater           R
7        newsteadAmphitheater           R
8            metzAmphitheater           R
9        arnsburgAmphitheater           R
10        dambachAmphitheater           R

In [54]:
# your intermediate task: edit the following sql so that the chronogrps.start
# column is added to the output.
# That will mean your pulling data from three tables

# HINT: you need to make a change to the SELECT clause, to the FROM clause, and to the WHERE clauses
# but it's the WHERE clause that does the work. Remember, I stressed you can
# add multiple "AND"s. 
pd.read_sql_query('''SELECT  ramphs.id, pleiades.timePeriods, chronogrps.start
          FROM ramphs, pleiades, chronogrps
          WHERE ramphs.pleiades = pleiades.path;''', ramphs_sql)


# MORE HINTS BUT DON"T READ THESE UNTIL YOU'VE TRIED TO DO TASK ON YOUR OWN
# What is the column you need to add to the SELECT clause?
# What is the table you need to add to the FROM clause?
# You need a new " AND ..." 'subclause' of the WHERE clause. One that joins ramphs and chronogrps. We've done this already

                            id timePeriods  start
0      duraEuroposAmphitheater         HRL    -70
1      duraEuroposAmphitheater         HRL    -49
2      duraEuroposAmphitheater         HRL    -27
3      duraEuroposAmphitheater         HRL    -27
4      duraEuroposAmphitheater         HRL     54
5      duraEuroposAmphitheater         HRL     69
6      duraEuroposAmphitheater         HRL      1
7      duraEuroposAmphitheater         HRL     75
8      duraEuroposAmphitheater         HRL    117
9      duraEuroposAmphitheater         HRL    100
10     duraEuroposAmphitheater         HRL    150
11     duraEuroposAmphitheater         HRL    193
12     duraEuroposAmphitheater         HRL    200
13     duraEuroposAmphitheater         HRL    235
14     duraEuroposAmphitheater         HRL    300
15     duraEuroposAmphitheater         HRL     50
16           arlesAmphitheater      ACHRLM    -70
17           arlesAmphitheater      ACHRLM    -49
18           arlesAmphitheater      ACHRLM    -27
19           arlesAmphitheater      ACHRLM    -27
20           arlesAmphitheater      ACHRLM     54
21           arlesAmphitheater      ACHRLM     69
22           arlesAmphitheater      ACHRLM      1
23           arlesAmphitheater      ACHRLM     75
24           arlesAmphitheater      ACHRLM    117
25           arlesAmphitheater      ACHRLM    100
26           arlesAmphitheater      ACHRLM    150
27           arlesAmphitheater      ACHRLM    193
28           arlesAmphitheater      ACHRLM    200
29           arlesAmphitheater      ACHRLM    235
...                        ...         ...    ...
4130  reggioEmiliaAmphitheater         RLM    -27
4131  reggioEmiliaAmphitheater         RLM    -27
4132  reggioEmiliaAmphitheater         RLM     54
4133  reggioEmiliaAmphitheater         RLM     69
4134  reggioEmiliaAmphitheater         RLM      1
4135  reggioEmiliaAmphitheater         RLM     75
4136  reggioEmiliaAmphitheater         RLM    117
4137  reggioEmiliaAmphitheater         RLM    100
4138  reggioEmiliaAmphitheater         RLM    150
4139  reggioEmiliaAmphitheater         RLM    193
4140  reggioEmiliaAmphitheater         RLM    200
4141  reggioEmiliaAmphitheater         RLM    235
4142  reggioEmiliaAmphitheater         RLM    300
4143  reggioEmiliaAmphitheater         RLM     50
4144       tharrosAmphitheater       ACHRL    -70
4145       tharrosAmphitheater       ACHRL    -49
4146       tharrosAmphitheater       ACHRL    -27
4147       tharrosAmphitheater       ACHRL    -27
4148       tharrosAmphitheater       ACHRL     54
4149       tharrosAmphitheater       ACHRL     69
4150       tharrosAmphitheater       ACHRL      1
4151       tharrosAmphitheater       ACHRL     75
4152       tharrosAmphitheater       ACHRL    117
4153       tharrosAmphitheater       ACHRL    100
4154       tharrosAmphitheater       ACHRL    150
4155       tharrosAmphitheater       ACHRL    193
4156       tharrosAmphitheater       ACHRL    200
4157       tharrosAmphitheater       ACHRL    235
4158       tharrosAmphitheater       ACHRL    300
4159       tharrosAmphitheater       ACHRL     50

[4160 rows x 3 columns]

In [55]:
pd.read_sql_query('''SELECT  ramphs.id, pleiades.timePeriods, chronogrps.start
          FROM ramphs, pleiades, chronogrps
          WHERE ramphs.pleiades = pleiades.path AND pleiades.timePeriods = 'R';''', ramphs_sql)

                            id timePeriods  start
0             metzAmphitheater           R    -70
1         arnsburgAmphitheater           R    -70
2          dambachAmphitheater           R    -70
3      tomen-y-murAmphitheater           R    -70
4            miciaAmphitheater           R    -70
5       porolissumAmphitheater           R    -70
6    sarmizegetusaAmphitheater           R    -70
7         bobadelaAmphitheater           R    -70
8     tigavaCastraAmphitheater           R    -70
9                zagaroloLudus           R    -70
10        newsteadAmphitheater           R    -70
11            metzAmphitheater           R    -49
12        arnsburgAmphitheater           R    -49
13         dambachAmphitheater           R    -49
14     tomen-y-murAmphitheater           R    -49
15           miciaAmphitheater           R    -49
16      porolissumAmphitheater           R    -49
17   sarmizegetusaAmphitheater           R    -49
18        bobadelaAmphitheater           R    -49
19    tigavaCastraAmphitheater           R    -49
20               zagaroloLudus           R    -49
21        newsteadAmphitheater           R    -49
22            metzAmphitheater           R    -27
23        arnsburgAmphitheater           R    -27
24         dambachAmphitheater           R    -27
25     tomen-y-murAmphitheater           R    -27
26           miciaAmphitheater           R    -27
27      porolissumAmphitheater           R    -27
28   sarmizegetusaAmphitheater           R    -27
29        bobadelaAmphitheater           R    -27
..                         ...         ...    ...
146    tomen-y-murAmphitheater           R    235
147          miciaAmphitheater           R    235
148     porolissumAmphitheater           R    235
149  sarmizegetusaAmphitheater           R    235
150       bobadelaAmphitheater           R    235
151   tigavaCastraAmphitheater           R    235
152              zagaroloLudus           R    235
153       newsteadAmphitheater           R    235
154           metzAmphitheater           R    300
155       arnsburgAmphitheater           R    300
156        dambachAmphitheater           R    300
157    tomen-y-murAmphitheater           R    300
158          miciaAmphitheater           R    300
159     porolissumAmphitheater           R    300
160  sarmizegetusaAmphitheater           R    300
161       bobadelaAmphitheater           R    300
162   tigavaCastraAmphitheater           R    300
163              zagaroloLudus           R    300
164       newsteadAmphitheater           R    300
165           metzAmphitheater           R     50
166       arnsburgAmphitheater           R     50
167        dambachAmphitheater           R     50
168    tomen-y-murAmphitheater           R     50
169          miciaAmphitheater           R     50
170     porolissumAmphitheater           R     50
171  sarmizegetusaAmphitheater           R     50
172       bobadelaAmphitheater           R     50
173   tigavaCastraAmphitheater           R     50
174              zagaroloLudus           R     50
175       newsteadAmphitheater           R     50

[176 rows x 3 columns]

In [63]:
df = pd.read_sql_query('''SELECT  ramphs.id, pleiades.timePeriods, chronogrps.start, ramphs.modcountry
          FROM ramphs, pleiades, chronogrps
          WHERE ramphs.pleiades = pleiades.path AND pleiades.timePeriods = 'R'
             AND ramphs.modcountry = "Italy"
             AND chronogrps.start > -26;''', ramphs_sql)
df

Empty DataFrame
Columns: [id, timePeriods, start, modcountry]
Index: []